{% extends "base.html" %}

{# #adb4b8 - строки #}
{# #4e5254 - шапка #}

{% block content %}
<h2 style="text-align: center">WORKS LOG</h2>
{% for i in range(len) %}
    <h2 style="text-align: left">ACTION #{{ users[i].id }}</h2>
    <table style="margin: auto; border-spacing: 0;  table-layout: fixed">
        <thead>
            <tr style="background: #4e5254">
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background: #adb4b8">
                <th>{{ jobs[i].job }}  </th>
                <th>{{ users[i].surname }} {{ users[i].name }}</th>
                <th>{{ jobs[i].work_size }}</th>
                <th>{{ jobs[i].collaborators }}</th>
                <th style="background: #f0b9e7">{{ jobs[i].is_finished }}</th>
            </tr>
        </tbody>
    </table>
{% endfor %}
{% endblock %}