{% extends "base.html" %}

{# #adb4b8 - строки #}
{# #4e5254 - шапка #}

{% block content %}
<h2 style="text-align: center">WORKS LOG</h2>
{% for user in users %}
    <h2 style="text-align: center">ACTION {{ user.id }}</h2>
    <table style="margin: auto; table-layout: fixed; border-collapse: collapse">
        <thead>
            <tr style="background: #4e5254">
                <th>Title of activity</th>
                <th>Team leader</th>
                <th>Duration</th>
                <th>List of collaborators</th>
                <th>Is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background: #adb4b8">
                <th>{{ user.job }}</th>
                <th>{{ user.team_leader }}</th>
                <th>{{ user.start_date }} {{ user.end_date }}</th>
                <th>{{ user.collaborators }}</th>
                <th>{{ user.is_finished }}</th>
            </tr>
        </tbody>
    </table>
{% endfor %}
{% endblock %}